.toast-container {
  position: fixed;
  top: 10px;
  left: 30px; 
  min-width: 300px;
  padding: 16px 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  color: #ffffff !important; 
  animation: entrarEsquerda 0.5s ease-out;
}
.conteudo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.mensagem {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff; 
}

.btn-fechar {
  background: none;
  border: none;
  color: inherit;
  font-size: 22px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
  padding: 0 5px;
}

.btn-fechar:hover {
  opacity: 1;
  transform: scale(1.1);
}


.sucesso { background-color: #008f39; border-left: 6px solid #00c851; }
.erro { background-color: #b71c1c; border-left: 6px solid #ff4444; }
.aviso { background-color: #ff8800; border-left: 6px solid #ffbb33; color: #000; }

:host-context(body.high-contrast) .toast-container,
:host-context(body.high-contrast) .toast-container.sucesso,
:host-context(body.high-contrast) .toast-container.erro,
:host-context(body.high-contrast) .toast-container.aviso {
  background-color: #000000 !important;
  border: 3px solid #ffff00 !important; 
  color: #ffff00 !important;
  box-shadow: none !important;
}

:host-context(body.high-contrast) .mensagem {
  color: #ffff00 !important;
}


:host-context(body.high-contrast) app-icone svg,
:host-context(body.high-contrast) app-icone path {
  fill: #ffff00 !important;
  color: #ffff00 !important;
}

:host-context(body.high-contrast) .btn-fechar {
  color: #ffff00 !important;
}

@keyframes subir {
  from {
    transform: translateX(-100px); 
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}