<button class="hamburger" [class.active]="isOpens" (click)="toggleMenu()">
  <span>{{ isOpens ? '✕' : '☰' }}</span>
</button> <!-- se a variavel isOpens for true, o angular adiciona a classe active ao button, permitindo mudar a cor e girar ele e o clickinverte o valor de isOpens -->

<div class="sidebar" [class.open] = "isOpens">
    <div class="menu-content" style="display: flex; flex-direction: column; height: 100%;">
        <h2>Menu</h2>
        <hr style="margin: 0 25px 20px; opacity: 0.2;">

        <ul style="flex-grow: 1;">
            <ng-container *ngIf="perfilUsuario === 'ADM'"><!-- se o perfil não for adm, nem aparece -->
                <li [routerLink]="['/admin/filme/editar/novo']" (click)="toggleMenu()">
                    <i class="icon">🎬</i> Cadastrar Filmes
                </li>
                
                <li [routerLink]="['/admin/usuarios']" (click)="toggleMenu()">
                    <i class="icon">👥</i> Pesquisar Usuários
                </li>
            </ng-container>

            <ng-container *ngIf="perfilUsuario === 'USER'">
                <li  (click)="executarNovidades()">
                    <i class="icon">⭐</i> Ver Novidades
                </li>
            </ng-container>

            <li (click)="alternarContraste()">
                <i class="icon">🌓</i> Alto contraste
            </li>

            <li (click)="sair()" class="logout">
                <i class="icon">🏃</i> Sair
            </li>
        </ul>
    </div>
</div>

<div class="overlay" *ngIf="isOpens" (click)="toggleMenu()"></div>