<button class="hamburger" [class.active]="isOpens" (click)="toggleMenu()">
    <app-icone [nome]="isOpens ? 'fechar' : 'menu'" tamanho="24px"></app-icone>
</button>

<div class="sidebar" [class.open]="isOpens">
    <div class="menu-content" style="display: flex; flex-direction: column; height: 100%;">
        <h2>Menu</h2>
        <hr style="margin: 0 25px 20px; opacity: 0.2;">

        <ul style="flex-grow: 1;">
            <ng-container *ngIf="perfilUsuario === 'ADM'">
                <li [routerLink]="['/admin/filme/editar/novo']" (click)="toggleMenu()">
                    <app-icone nome="filme"></app-icone>
                    Cadastrar Filmes
                </li>
                <li [routerLink]="['/admin/usuarios']" (click)="toggleMenu()">
                    <app-icone nome="usuario"></app-icone>
                    Pesquisar Usuários
                </li>
            </ng-container>

            <ng-container *ngIf="perfilUsuario === 'USER'">
                <li (click)="executarFavoritos()">
                    <app-icone nome="favorito"></app-icone>
                    Ver Favoritos
                </li>
                <li (click)="executarNovidades()">
                    <app-icone nome="novidades"></app-icone> Ver Novidades
                </li>
            </ng-container>

            <li (click)="alternarContraste()">
                <app-icone nome="contraste"></app-icone>
                Alto contraste
            </li>

            <li *ngIf="perfilUsuario" (click)="abrirConfirmacaoSair()" class="logout">
                <app-icone nome="sair"></app-icone>
                Sair
            </li>
        </ul>
    </div>
</div>

<div class="overlay" *ngIf="isOpens" (click)="toggleMenu()"></div>