<app-menu-lateral></app-menu-lateral>

<div class="container-centralizado">
    <div class="main-content">
        <a routerLink="/admin/usuarios" class="btn-voltar">
            <span>⬅</span> Voltar para a Lista
        </a>
    </div>

    <div class="card-form">
        <h2>{{ isEdit ? 'Editar Usuário' : 'Novo Usuário' }}</h2>
        <hr>

        <form [formGroup]="userForm" (ngSubmit)="save()">
            <div class="form-group">
                <label>Nome Completo</label>
                <input type="text" formControlName="name" placeholder="Ex: João Silva"
                    [class.is-invalid]="userForm.get('name')?.invalid && userForm.get('name')?.touched">
                <small class="error-msg" *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
                    Nome é obrigatório (mín. 3 letras).
                </small>
            </div>


            <div class="form-row">
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" formControlName="email" placeholder="joao@email.com"
                        [class.is-invalid]="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                    <small class="error-msg" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                        Insira um e-mail válido.
                    </small>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group">
                    <label>Login de Acesso</label>
                    <input type="text" formControlName="login" placeholder="Ex: joaosilva"
                        [class.is-invalid]="userForm.get('login')?.invalid && userForm.get('login')?.touched">
                    <small class="error-msg" *ngIf="userForm.get('login')?.invalid && userForm.get('login')?.touched">
                        Login é obrigatório.
                    </small>
                </div>

                <div class="form-group">
                    <label>{{ isEdit ? 'Nova Senha (opcional)' : 'Senha' }}</label>
                    <input type="password" formControlName="password" placeholder="******">
                    <small class="error-msg"
                        *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
                        Senha é obrigatória para novos usuários.
                    </small>
                </div>
            </div>
            <div class="form-group checkbox-group">
                <label class="switch">
                    <input type="checkbox" formControlName="highContrast">
                    <span class="slider"></span>
                    Alto Contraste (Acessibilidade)
                </label>
            </div>
            <div class="form-group">
                <label>Perfil de Acesso</label>
                <select formControlName="role">
                    <option value="USER">Usuário Comum (USER)</option>
                    <option value="ADM">Administrador (ADM)</option>
                </select>
            </div>

            <div class="form-acoes">
                <button type="button" class="btn-cancelar" routerLink="/admin/usuarios">Cancelar</button>
                <button type="submit" class="btn-salvar" [disabled]="userForm.invalid">
                    {{ isEdit ? 'Atualizar Dados' : 'Cadastrar Usuário' }}
                </button>
            </div>
        </form>
    </div>
</div>