.card-form {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  max-width: 600px;
  margin: 0 auto;
}

h2 { color: #333; margin-bottom: 20px; }

.form-group { margin-bottom: 20px; display: flex; flex-direction: column; }
.form-row { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; }

label { font-weight: 600; font-size: 14px; margin-bottom: 8px; color: #666; }

input, select {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.form-acoes {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.btn-voltar {
    display: inline-flex; /* Para ele ocupar apenas o tamanho do texto */
    align-items: center;
    gap: 8px;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.3s;
    margin-bottom: 30px; /* Margem apenas embaixo para separar do formulário */
    width: fit-content;  /* Largura se ajusta ao conteúdo automaticamente */
}

.btn-voltar:hover {
    background: var(--primary-color);
    color: #fff;
}
.btn-salvar {
  background: #1976d2;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.btn-cancelar {
  background: #f5f5f5;
  color: #666;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
}

/*  ALTO CONTRASTE  */
:host-context(body.high-contrast) .main-content *,
:host-context(body.high-contrast) .card-form,
:host-context(body.high-contrast) input,
:host-context(body.high-contrast) select {
    color: #ffff00 !important;
    background-color: #000 !important;
    border-color: #ffff00 !important;
}

:host-context(body.high-contrast) .btn-salvar:hover {
    background-color: #ffff00 !important;
    color: #000 !important;
}
:host-context(body.high-contrast) .btn-acao:hover,
:host-context(body.high-contrast) .btn-voltar:hover {
    background-color: #ffff00 !important;
    color: #000 !important;
}