<app-menu-lateral></app-menu-lateral>

<div class="container-centralizado">
    <div class="main-content">
        <a routerLink="/admin/usuarios" class="btn-voltar">
            <span>⬅</span> Voltar para a Lista
        </a>
    </div>

    <div class="card-form">
        <h2>{{ isEdicao ? 'Editar Usuário' : 'Novo Usuário' }}</h2>
        <hr>

        <form [formGroup]="usuarioForm" (ngSubmit)="salvar()">
            <div class="form-group">
                <label>Nome Completo</label>
                <input type="text" formControlName="nome" placeholder="Ex: João Silva"
                    [class.is-invalid]="usuarioForm.get('nome')?.invalid && usuarioForm.get('nome')?.touched">
                <small class="error-msg" *ngIf="usuarioForm.get('nome')?.invalid && usuarioForm.get('nome')?.touched">
                    Nome é obrigatório (mín. 3 letras).
                </small>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" formControlName="email" placeholder="joao@email.com"
                        [class.is-invalid]="usuarioForm.get('email')?.invalid && usuarioForm.get('email')?.touched">
                    <small class="error-msg"
                        *ngIf="usuarioForm.get('email')?.invalid && usuarioForm.get('email')?.touched">
                        Insira um e-mail válido.
                    </small>
                </div>

                <div class="form-group">
                    <label>Telefone</label>
                    <input type="text" formControlName="telefone" placeholder="Somente números (ex: 85988887777)">
                    <small class="error-msg"
                        *ngIf="usuarioForm.get('telefone')?.invalid && usuarioForm.get('telefone')?.touched">
                        Insira apenas os números com DDD (10 ou 11 dígitos).
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label>Perfil de Acesso</label>
                <select formControlName="perfil">
                    <option value="USER">Usuário Comum (USER)</option>
                    <option value="ADM">Administrador (ADM)</option>
                </select>
            </div>

            <div class="form-acoes">
                <button type="button" class="btn-cancelar" routerLink="/admin/usuarios">Cancelar</button>
                <button type="submit" class="btn-salvar" [disabled]="usuarioForm.invalid">
                    {{ isEdicao ? 'Atualizar Dados' : 'Cadastrar Usuário' }}
                </button>
            </div>
        </form>
    </div>
</div>