<app-menu-lateral></app-menu-lateral>

<div class="main-content">
    <div class="form-container">
        <h2 class="form-title">{{isEdicao ? 'Editar Filme' : 'Novo Filme'}}</h2>

        <form [formGroup]="filmeForm" (ngSubmit)="salvar()">

            <div class="group">
                <label for="title">Título</label>
                <input type="text" formControlName="title"
                    [class.is-invalid]="filmeForm.get('title')?.invalid && filmeForm.get('title')?.touched">
                <small class="error-msg" *ngIf="filmeForm.get('title')?.invalid && filmeForm.get('title')?.touched">
                    O título é obrigatório (mín. 3 letras).
                </small>
            </div>
            <div class="group">
        <label for="releaseYear">Ano de Lançamento</label>
                <input type="number" id="releaseYear" formControlName="releaseYear" placeholder="Ex: 2024"
                    [class.is-invalid]="filmeForm.get('releaseYear')?.invalid && filmeForm.get('releaseYear')?.touched">
                <small class="error-msg" *ngIf="filmeForm.get('releaseYear')?.invalid && filmeForm.get('releaseYear')?.touched">
                    Ano deve ser entre 1895 e 2026.
                </small>
            </div>

            <div class="group">
                <label for="synopsis">Descrição / Sinopse</label>
                <textarea id="synopsis" formControlName="synopsis" rows="4" placeholder="Digite o resumo do filme..."
                    [class.is-invalid]="filmeForm.get('synopsis')?.invalid && filmeForm.get('synopsis')?.touched"></textarea>
                <small class="error-msg"
                    *ngIf="filmeForm.get('synopsis')?.invalid && filmeForm.get('synopsis')?.touched">
                    A sinopse é obrigatória (máx. 500 caracteres).
                </small>
            </div>
            <div class="group">
                <label>Gênero</label>
                <input type="text" formControlName="genre"
                    [class.is-invalid]="filmeForm.get('genre')?.invalid && filmeForm.get('genre')?.touched">

                <small class="error-msg" *ngIf="filmeForm.get('genre')?.invalid && filmeForm.get('genre')?.touched">
                    O gênero é obrigatório (mín. 3 letras).
                </small>
            </div>

            <div class="group">
                <label>URL da Capa</label>
                <input type="text" formControlName="posterUrl" placeholder="https://exemplo.com/imagem.jpg"
                    [class.is-invalid]="filmeForm.get('posterUrl')?.invalid && filmeForm.get('posterUrl')?.touched">

                    <small class="error-msg" *ngIf="filmeForm.get('posterUrl')?.invalid && filmeForm.get('posterUrl')?.touched">
                    A URL da capa é obrigatória.
                </small>
            </div>

            <div class="acoes-form">
                <button type="submit" class="btn-salvar" >Confirmar</button>
                <button type="button" [routerLink]="['/admin']" class="btn-cancelar">Cancelar</button>
            </div>
        </form>
    </div>
</div>